<%= render 'stepper' %>

<div class="card">
  <h5 class="card-header">Basic Details</h5>

  <%= simple_form_for @user, url: onboarding_path, method: :patch, wrapper: :horizontal_form  do |form| %>
    <div class="card-body d-grid gap-3">
      <%= form.input :auth_user_email, label: 'Email', disabled: true, readonly: true %>
      <%= form.input :first_name %>
      <%= form.input :last_name %>
    </div>

    <div class="card-footer bg-transparent">
      <%= form.button :submit , 'Submit', class: 'btn-primary' %>
      <%= link_to 'skip', next_wizard_path, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>
