<div class="card">
  <h5 class="card-header">Personal Details</h5>

  <%= simple_form_for @user, url: onboarding_path, method: :patch, wrapper: :horizontal_form do |form| %>
    <div class="card-body d-grid gap-3">
      <%= form.input :age %>
      <%= form.input :gender, collection: %w[Male Female] %>
      <%= form.input :date_of_birth, as: :date, html5: true, wrapper: :horizontal_form %>
    </div>

    <div class="card-footer bg-transparent">
      <%= form.button :submit , 'Submit', class: "btn-primary" %>
      <%= link_to 'skip', next_wizard_path, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>
